# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [1]:
# a =

Print a, and data type

Using indexing access the element 300 from the series a.

What are the values of index for series a?

Change the index to  ['c', 'a', 'b', 'd']

Access the value in the series with index 'd'

Sort the values wrt to the index and print it

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [2]:
# b =

Append b series at the end of a series

In [3]:
# a =

In [4]:
#print a again after appending b into it

Sort the values in descending order of a and print the index of the sorted series

In [5]:
# a =

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [6]:
# df =

What is the shape of the datafarme <br>
(also, what does it imply?)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [7]:
# yep its same as the series.

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

Rename the column of the dataframe as 'points'

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [8]:
#Create fruits array

# fruits =

In [9]:
#Create series fruits out of fruits array

# fruits =

Change the index of fruits to the index of dataframe df

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [10]:
# d1 =

Print(d1)

What is the shape of d1.

Set city = d1['city']

print city <br>
What is the type of city.

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [11]:
# d2 =

print the shape of this dataframe

merge the two dataframes together, save it in a new dataframe named 'd3'

In [12]:
# d3 =

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [15]:
# write function here

# def is_ut(x):
    
#     # write code below
    
# d3['is_ut'] =

In [16]:
# print d3

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [ ]:
# write function here

In [17]:
# check function c_to_f(10)

In [18]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

Select only the first three rows of the dataframe d1.

Select all the rows and last two columns in the dataframe.

## Groupby

In [24]:
# Create a dataframe using dictionary of your choice

# data =

In [21]:
# Use Groupby of single column with aggregate sum()

In [22]:
# Use Groupby of single column with aggregate count()

In [23]:
# Use Groupby of single column with aggregate min() and max()

In [25]:
# Use Groupby of any 2 columns with aggregate mean()

In [26]:
# Use Groupby of any 2 columns with aggregate min() and max()

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [2]:

import pandas as pd

# Define the start and end dates
start_date = '2020-01-01'
end_date = '2021-04-01'

# Create the date range
a = pd.date_range(start=start_date, end=end_date)

print a

In [3]:
print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

What is the type of a?