## 1.Pandas Series

    A pandas series is like a column in table 
    Its a one-dimensional arry holding data of any type

In [1]:
import pandas as pd

In [2]:
(pd.__version__)     #version of pandas

'1.5.3'

In [7]:
import numpy as np

In [8]:
(np.__version__)     #version of numpy

'1.24.3'

##### How to make empty series

In [10]:
a=pd.Series()
print(a)
print(type(a))

Series([], dtype: float64)
<class 'pandas.core.series.Series'>

C:\Users\ipcs nagpur\AppData\Local\Temp\ipykernel_12304\2584896284.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series()

In [11]:
a

Series([], dtype: float64)

##### How to make Series from list

In [13]:
b=pd.Series(["virat","Dhoni","Hardik"],index=["a","b","c"],name="Cricketers")
print(b)

a     virat
b     Dhoni
c    Hardik
Name: Cricketers, dtype: object

In [14]:
c=pd.Series(["50","100","200"],name="Runs")
print(c)

0     50
1    100
2    200
Name: Runs, dtype: object

In [15]:
d=pd.Series(["RCB","MI","KKR"],name="Team")
print(d)

0    RCB
1     MI
2    KKR
Name: Team, dtype: object

##### How to make series from nd array
list--->array-->sries

In [17]:
import numpy as np
my_array=np.array(["a","b","c"])
my_array

s1=pd.Series(my_array)
s1

0    a
1    b
2    c
dtype: object

##### How to make series drom Dictionary

In [18]:
my_dict={"Name":"Dhoni","profession":"Cricketer","Age":41}
my_dict

s2=pd.Series(my_dict)
s2

Name              Dhoni
profession    Cricketer
Age                  41
dtype: object

In [20]:
my_dict={1:"Dhoni",2:"Cricketer",3:41}
my_dict

s2=pd.Series(my_dict)
s2

1        Dhoni
2    Cricketer
3           41
dtype: object

##### Create Series using Tuple

In [21]:
t=(1,2,3,4,5)
s=pd.Series(t)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

##### Create Series from set

In [22]:
s={1,2,3,4,5,"gauri"}
x=pd.Series(s)

#s3=pd.Series({"a","b","c"})
#s3
#error
#we cannot make series from set

TypeError: 'set' type is unordered

##### Attribute of Series

In [24]:
b=pd.Series(["virat","Dhoni","Hardik","Sachin"],index=["a","b","c","d"],name="cricketer")
print(b)

a     virat
b     Dhoni
c    Hardik
d    Sachin
Name: cricketer, dtype: object

#### 1.Index

Return all the index values

In [27]:
b.index

Index(['a', 'b', 'c', 'd'], dtype='object')

#### 2.Array

Returns an array values

In [29]:
b_new=b.array
print(b_new)

<PandasArray>
['virat', 'Dhoni', 'Hardik', 'Sachin']
Length: 4, dtype: object

In [30]:
type(b_new)

pandas.core.arrays.numpy_.PandasArray

In [31]:
type(b)

pandas.core.series.Series

#### 3.Values

Returns values of series

In [32]:
b.values

array(['virat', 'Dhoni', 'Hardik', 'Sachin'], dtype=object)

#### 4.Name

Returns name of series

In [35]:
b.name

'cricketer'

In [41]:
v=[1,2,4,5,45,6,84]
s=pd.Series(v,name="abc")
print(s)

0     1
1     2
2     4
3     5
4    45
5     6
6    84
Name: abc, dtype: int64

In [43]:
s.name

'abc'

#### 5.Shape

Return shape of series

In [44]:
b.shape
#it has 3 rows

(4,)

In [45]:
s.shape

(7,)

#### 6.empty

Returns True if series is empty

In [47]:
b.empty

False

In [48]:
s.empty

False

In [49]:
empty_series=pd.Series()

C:\Users\ipcs nagpur\AppData\Local\Temp\ipykernel_12304\2907974055.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series=pd.Series()

In [50]:
empty_series.empty

True

#### 7.Memory_usage(method or function)

Returns memory ocupied by values and index

In [51]:
b.memory_usage()

236

In [52]:
s.memory_usage()

188

In [53]:
empty_series.memory_usage()

0

#### 8.nbytes

Returns memory occupied values

In [54]:
b.nbytes

32

In [55]:
empty_series.nbytes

0

##### Series from list of tuples

In [56]:
s4=pd.Series([(1,0),(2,0),(3,0)])
s4

0    (1, 0)
1    (2, 0)
2    (3, 0)
dtype: object

##### Mathematical Operations on series

In [58]:
s1=pd.Series([10,20,30])
s1

0    10
1    20
2    30
dtype: int64

In [59]:
s2=pd.Series([5,15,25])
s2

0     5
1    15
2    25
dtype: int64

In [60]:
s1+s2

0    15
1    35
2    55
dtype: int64

In [61]:
#add
s1.add(s2)

0    15
1    35
2    55
dtype: int64

In [62]:
#sub
s1.subtract(s2)

0    5
1    5
2    5
dtype: int64

In [63]:
#mul
s1.multiply(s2)

0     50
1    300
2    750
dtype: int64

In [64]:
#div
s1.divide(s2)

0    2.000000
1    1.333333
2    1.200000
dtype: float64

In [65]:
#modules
s1.mod(s2)

0    0
1    5
2    5
dtype: int64

In [66]:
#power
s1.pow(s2)

0                 100000
1   -4125488147419103232
2    8896730407173619712
dtype: int64

In [67]:
s1.pow(2)

0    100
1    400
2    900
dtype: int64

In [68]:
#less than
s1.le(s2)

0    False
1    False
2    False
dtype: bool

In [69]:
#greater than
s1.gt(s2)

0    True
1    True
2    True
dtype: bool

In [70]:
#equal
s3=pd.Series([5,15,25])
s4=pd.Series([5,15,25])
s3.equals(s4)

True

In [73]:
s3=pd.Series([5,15,25,50])
s4=pd.Series([5,15,25])
s3.add(s4)

0    10.0
1    30.0
2    50.0
3     NaN
dtype: float64

In [74]:
s4=pd.Series([(1,0),(2,0),(3,0)])
s5=pd.Series([(1,0),(2,0),(3,0)])
s4.add(s5)

0    (1, 0, 1, 0)
1    (2, 0, 2, 0)
2    (3, 0, 3, 0)
dtype: object